<div class="d-flex flex-column" style="min-height: 100vh;">
  <nav class="navDeco navbar px-2">
    <a class="navbar-brand px-2 title-style" href="#">Claire</a>
    <span class="">ADMIN PANEL</span>
    <span
      class="nav-left-items navbar-text d-flex flex-column flex-lg-row align-items-lg-center gap-2"
    >
      <span class="admin-style">User: {{user.name}}</span>
      {{#if user.email}}
        <span class="">Email: {{user.email}}</span>
      {{/if}}
      <a href="/api/sessions/logout" class="px-lg-2"><button
          class="btn btn-signOut-style"
        >Sign Out</button></a>
    </span>
  </nav>
  <main class="container mt-5">
    <section>
      <div class="d-flex flex-column w-50">
        <div class="d-flex flex-column">
          <h5 class="me-5">LOAD PRODUCTS: </h5>
          <form id="newProductForm">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <input
                type="text"
                class="form-control"
                id="description"
                name="description"
              />
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input
                type="number"
                class="form-control"
                id="price"
                name="price"
              />
            </div>
            <div class="mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input
                type="number"
                class="form-control"
                id="stock"
                name="stock"
              />
            </div>
            <div class="mb-3">
              <input type="file" class="form-control" id="file" name="file" />
            </div>
            <button type="submit" class="btn btn-style">Add</button>
          </form>
        </div>
      </div>
    </section>
    <section class="mt-4">
      <div class="d-flex flex-column w-50">
        <div class="d-flex flex-column">
          <h5 class="me-5">MODIFY A PRODUCT:</h5>
          <form id="updateProductForm">
            <div class="mb-3">
              <label for="code" class="form-label">Product Code </label>
              <input
                required
                type="text"
                class="form-control"
                id="code"
                name="code"
              />
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input
                type="text"
                class="form-control"
                id="updateName"
                name="title"
              />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <input
                type="text"
                class="form-control"
                id="updateDescription"
                name="description"
              />
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input
                type="number"
                class="form-control"
                id="updatePrice"
                name="price"
              />
            </div>
            <div class="mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input
                type="number"
                class="form-control"
                id="updateStock"
                name="stock"
              />
            </div>
            <div class="mb-3">
              <input
                type="file"
                class="form-control"
                id="updateFile"
                name="file"
              />
            </div>
            <button type="submit" class="btn btn-style">Update</button>
          </form>
        </div>
      </div>
    </section>
    <section class="mt-4">
      <div
        id="productListContainer"
        class="container-lg d-flex flex-wrap justify-content-center gap-4"
      ></div>
    </section>
  </main>
  <footer class="footerStyle text-black py-4">
    <div class="container">
      <nav class="row">
        <p
          class="col-12 col-lg-3 text-reset text-uppercase d-flex justify-content-center justify-content-lg-start"
        >
          CLAIRE
        </p>
        <ul
          class="col-lg-9 col-sm-12 list-unstyled d-flex justify-content-center justify-content-lg-end"
        >
          <li class="font-weight-bold text-uppercase"></li>
          <li class="d-flex justify-content-between">
            <p href="https://www.facebook.com/" class="fs-5 m-2">
              <u>
                <BsFacebook />
                /CLAIRE
              </u>
            </p>
            <p href="https://www.instagram.com/" class="fs-5 m-2">
              <u>
                <BsInstagram />
                /CLAIRE
              </u>
            </p>
            <p href="https://web.whatsapp.com/" class="fs-5 m-2">
              <u>
                <ImWhatsapp />
                099741112
              </u>
            </p>
          </li>
        </ul>
        <hr class="lineaHr" />
        <p class="text-center fs-5">
          &copy; 2022 All Rights Reserved &reg; Claire & Co.
        </p>
      </nav>
    </div>
  </footer>
</div>

<script defer src="js/admin.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>