<div style="min-height: 100vh;" class="d-flex flex-column">
  <nav class="navDeco navbar px-2 d-flex">
    <a class="navbar-brand px-2 title-style" href="#">Claire</a>
    <h2 class="login-style">
      LOGIN!
    </h2>
  </nav>
  <main class="container d-flex flex-column flex-grow-1 gap-2 mt-4">
    <form id="loginForm">
      <div class="form-group my-3">
        <label for="emailInput">Email address</label>
        <input
          type="email"
          class="form-control"
          id="emailInput"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          name="email"
        />
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input
          type="password"
          class="form-control"
          id="passwordInput"
          placeholder="Password"
          name="password"
        />
      </div>
      <button type="submit" class="btn btn-style0 mt-3">Login</button>
    </form>
    <a href="/register">
      <button class="btn btn-style0">
        Do you want to Register?
      </button>
    </a>
  </main>
  <footer class="footerStyle text-black py-4">
    <div class="container">
      <nav class="row">
        <p
          class="col-12 col-lg-3 text-reset text-uppercase d-flex justify-content-center justify-content-lg-start"
        >
          CLAIRE
        </p>
        <ul
          class="col-lg-9 col-sm-12 list-unstyled d-flex justify-content-center justify-content-lg-end"
        >
          <li class="font-weight-bold text-uppercase"></li>
          <li class="d-flex justify-content-between">
            <p href="https://www.facebook.com/" class="fs-5 m-2">
              <u>
                <BsFacebook />
                /CLAIRE
              </u>
            </p>
            <p href="https://www.instagram.com/" class="fs-5 m-2">
              <u>
                <BsInstagram />
                /CLAIRE
              </u>
            </p>
            <p href="https://web.whatsapp.com/" class="fs-5 m-2">
              <u>
                <ImWhatsapp />
                099741112
              </u>
            </p>
          </li>
        </ul>
        <hr class="lineaHr" />
        <p class="text-center fs-5">
          &copy; 2022 All Rights Reserved &reg; Claire & Co.
        </p>
      </nav>
    </div>
  </footer>
</div>

<script src="/js/login.js"></script>